html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navdiv{
    background-color: #DCC7BC;
    /* display: flex;
    justify-content: center; */
}

.logo{
    display: flex;
}
.logotext h3{
    justify-content: center;
    color: #6C3408;
}

.logotext p{
    justify-content: center;
    color: #6C3408;
}

.navtext{
    color: #6C3408;
    font-size: 20px;
    line-height: 30px;
}

.navitem{
    color: #6C3408;
}

.nav-link::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #6C3408;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    transition: all .5s;
}

.nav-link:hover::before{
    width: 50%;
    height: 8px;
    border-radius: 10px;
}

.banner{
    height: auto;
    min-height: 90vh;
    background-color: #DCC7BC;
    /* padding-bottom: 00px; */
}
.banner-text{
    text-align: left;
}
.banner-text h1{
    width: 80%;
    font-size: 48px;
    padding-top: 20%;
    padding-left: 10%;
}

.banner-text p{
    width: 80%;
    font-size: 24px;
    padding-left: 11%;
    padding-top: 1%;
}
.btns{
    padding-left: 11%;
}

.order-btn{
    background: #6C3408;
    color: #fff;
    border: none;
    border-radius: 5px;

    padding: 10px 15px;
    margin-right: 25px;
}

.banner .seemenu-btn{
    background: none;
    color: #6C3408;
    font-weight: 500;

    border: 1px solid #6C3408;
    border-radius: 5px;

    padding: 10px 15px;
}

.img-banner{
    width: 100%;
    height: 100%;
    background-color: #DCC7BC;
    justify-content: center;
    padding-top: 200px;
    /* align-items: center; */
    overflow: hidden;
    padding-bottom: 300px;
}

.img-container{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.img-banner .img1{
    width: 100%;
    height: 100%;
    scale: 1;
    left: 0;
    top: 0;
    position: absolute;
    transform: translateY(-200px);
    animation: img1ani 10s ease infinite;
}
.img-banner .img2{
    width: 100%;
    height: 100%;
    scale: 1;
    left: 0;
    top: 0;
    position: absolute;
    transform: translateY(200px);
    animation: img2ani 10s ease infinite;
}
.img-banner .img3{
    width: 100%;
    height: 100%;
    scale: 1;
    left: 0;
    top: 0;
    position: absolute;
    transform: translateX(-200px);
    animation: img3ani 10s ease infinite;
}
.img-banner .img4{
    width: 100%;
    height: 100%;
    scale: 1;
    left: 0;
    top: 0;
    position: absolute;
    transform: translateX(200px);
    animation: img4ani 10s ease infinite;
}

@keyframes img1ani {
    0%{
        transform: translateY(-200px);
    }
    25%{
        scale: 1;
        transform: translateX(-200px) translateY(0px);
    }
    50%{
        scale: 1.2;
        transform: translateX(0px) translateY(200px);
    }
    75%{
        scale: 1;
        transform: translateX(200px) translateY(0px);
    }
    100%{
        scale: 1;
        transform: translateY(-200px);
    }
}

@keyframes img2ani {
    0%{
        scale: 1.2;
        transform: translateY(200px);
    }
    25%{
        scale: 1;
        transform: translateX(200px) translateY(0px);
    }
    50%{
        scale: 1;
        transform: translateY(-200px) translateX(0px);
    }
    75%{
        scale: 1;
        transform: translateX(-200px) translateY(0px);
    }
    100%{
        scale: 1.2;
        transform: translateY(200px);
    }
}

@keyframes img3ani{
    0%{
        transform: translateX(-200px);
    }
    25%{
        scale: 1.2;
        transform: translateY(200px) translateX(0px);
    }
    50%{
        scale: 1;
        transform: translateX(200px) translateY(0px);
    }
    75%{
        scale: 1;
        transform: translateY(-200px) translateX(0px);
    }
    100%{
        scale: 1;
        transform: translateX(-200px);
    }
}
@keyframes img4ani{
    0%{
        transform: translateX(200px);
    }
    25%{
        scale: 1;
        transform: translateY(-200px) translateX(0px);
    }
    50%{
        scale: 1;
        transform: translateX(-200px) translateY(0px);
    }
    75%{
        scale: 1.2;
        transform: translateY(200px) translateX(0px);
    }
    100%{
        scale: 1;
        transform: translateX(200px);
    }
}


.branding{
    text-align: left;
    background-color: #CE9C75;
    height: auto;
}

.branding h3{
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    color: #6C3408;
}

.branding p{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #6C3408;
}

.branding-text{
    padding: 3% 6% 3% 6%;
}
.a{
    width: 60%;
    padding-left: 10%;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding-img{
    width: 400px;
    height: 400px;
    animation: rotate 15s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.carouselControl{
    width: 100%;
    height: auto;
    /* padding-bottom: 5%; */
    background-color: #201002;
}

.positionControl{
    padding-left: 18%;
}

.carouselinnerControl{
    width: 80%;
    padding-bottom: 10%;
    height: auto;
}

.card{
    border-radius: 0px;
}

.cardIMG{
    background: rgb(242,228,217);
    background: linear-gradient(0deg, rgba(242,228,217,1) 44%, rgba(32,16,2,1) 44%, rgba(32,16,2,1) 75%);
    border-radius: 0px;
}

.card-body{
    background: #F2E4D9;
}

.btnShape{
    width: 20px;
    height: 20px;
}

#myCarousel-indicators > button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }



.footer{
    background-color: #090909;
}

.card-container{
    background-color: #201002 ;
}